*				{font-family:Arial, Helvetica, sans-serif; font-size:13px;}
body  			{margin:0px;}






/* Left Nav */
div#leftNav 								{width:260px; height:100%; background-color:#efefef; border-right:1px solid #cccccc; overflow-y:scroll; position:fixed;}

div#leftNav img.topLogo						{margin:20px;}

div#leftNav div.navTree						{margin-left:20px;}
div#leftNav div.navTree ul					{list-style:none; padding-left:0px;}
div#leftNav div.navTree	ul li ul			{display:none; margin-left:16px;}
div#leftNav div.navTree	a					{display:block; text-decoration:none; padding:2px 0px 2px 0px;}
div#leftNav div.navTree	img					{float:left;position:relative; margin:5px 5px 0px 0px;}
div#leftNav div.navTree ul li.current ul	{display:block !important;}



/* Right Side Content */
div.content 				{padding:20px 40px 100px 0px; margin-left:300px;}

div.content table 			{border:none; border-collapse:collapse; width:100%;}
div.content td 				{border: 1px solid #efefef; padding:10px;}
div.content th 				{border: 1px solid #efefef;font-size:14px; font-weight:bold; color:#223f69; background-color:#c1d8f9; text-align:left; padding:5px;}

div.content h2.pageTitle	{border-bottom: 2px solid #cccccc; background-color:#efefef; padding:5px; font-size:20px; margin-top:0px;}
div.content h2				{border-bottom: 2px dashed #efefef; padding:5px; font-size:16px; font-weight:bold; color:#333333; margin-top:40px;}
div.content h3				{padding:0px; font-size:14px; font-weight:bold; color:#333333;}
div.content p				{}
div.content p.code			{padding:10px; background-color:#efefef; border:1px solid #cccccc; font-size:14px; font-style:italic;}

div.content div.syntaxhighlighter {border:1px solid #efefef; padding:5px;}
